input,
textarea {
  box-sizing: border-box;
  display: block;
  padding: 1.5em;
  width: 100%;
  border: 1px solid $secondary-color;
  font-size: 0.8em;
}
textarea {
  font-size: 1.1em;
}

label {
  display: block;
  margin-top: 1em;
  color: #ffffff;
  font-family: "sans-serif";
}

.submit {
  display: inline-block;
  width: 20%;
  margin-top: 1em;
  float: right;
  border: none;
  background: $secondary-color;
  color: #ffffff;
  font-size: 1rem;
  font-family: sans-serif;
  @include easeOut();
  &:hover {
    color: $secondary-color;
    @include easeOut();
  }
}
